.wraps {
	font-family: "Terminal", "Fixedsys";
	}
h1 {
  text-align: center;
  }
p {
  text-align: center;
  }
p >a{
	text-align: center;
	text-decoration: none;
	}
a:hover{
	font-size: 1.2em;
	color:#f7a965;
	}
img {
  display: block;
  margin: auto;
  width: 20%;
  }
img:hover{
	width: 50%;
	}
